{% extends 'base.html.twig' %}

{% block title %}{{pokemon['name']}}{% endblock %}

{#{% block header %}#}
{#    <header class="py-1 bg-image-full d-flex" #}{# # style="background-image: url('{{ asset('img/home.jpeg') }}');"#}{#>#}
{#        <div class="container position-relative px-4 px-lg-5">#}
{#            <div class="row gx-4 gx-lg-5 justify-content-center">#}
{#                <div class="col-md-10 col-lg-8 col-xl-7" style="margin-top: 7em">#}
{#                    <div class="text-center my-5">#}
{#                        <div class="p-2"><h1 class="fw-bolder">{{ pokemon['name']|capitalize }} - Génération {{ generation }}</h1></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </header>#}
{#{% endblock %}#}

{% block body %}
    <article class="container">
        <div class="row">
            {# Nom et Numéro National du Pokemon #}
            <div class="title-pokemon d-flex justify-content-center">
                <h1 class="p-3">{{ pokemon['name']|upper }}</h1>
                <h1 class="p-3">
                    {% if pokemon['id'] < 10 %}
                        n°00{{ pokemon['id'] }}
                    {% elseif (pokemon['id'] > 10) and (pokemon['id'] < 100) %}
                        n°0{{ pokemon['id'] }}
                    {% else %}
                        n°{{ pokemon['id'] }}
                    {% endif %}
                </h1>
            </div>
            {# Infos du pokémon #}
            <div class="info-pokemon d-flex justify-content-center row">
                {# Image du pokémon #}
                <section class="col-sm-6 col-xs-12 visual-pokemon text-center align-items-center">
                    <img class="img-pokemon" width="100%" src="{{ pokemon['sprites']['front_default'] }}" alt="pokemon-{{ pokemon['id'] }}"/>
                    <div class="type-pokemon row">
                        {% if pokemon['types'][1] is defined %}
                            <p class="col-12 col-sm-6 type-{{ pokemon['types'][0]['type']['name'] }}">{{ pokemon['types'][0]['type']['name']|upper }}</p>
                            <p class="col-12 col-sm-6 type-{{ pokemon['types'][1]['type']['name'] }}">{{ pokemon['types'][1]['type']['name']|upper }}</p>
                        {% else %}
                            <p class="col-12 type-{{ pokemon['types'][0]['type']['name'] }}">{{ pokemon['types'][0]['type']['name']|upper }}</p>
                        {% endif %}
                    </div>
                </section>
                {# Details et description du pokémon #}
                <section class="col-sm-6 col-xs-12 detail-pokemon">
                    <h2>Description</h2>
                    <div class="description-pokemon d-flex justify-content-left">
                        <p class="col-12">{{ pokemon["description"] }}</p>
                    </div>
                    <div class="stats-block-pokemon">
                        <h2>Stats</h2>
                        <div class="stats-pokemon d-flex justify-content-center row">
                            <div class="col-12 col-sm-6">
                                {% for pokemonStat in pokemon["stats"]|slice(0,3) %}
                                    <p><strong>{{ pokemonStat['stat']['name']|upper }} :</strong> {{ pokemonStat['base_stat'] }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-12 col-sm-6">
                                {% for pokemonStat in pokemon["stats"]|slice(3,5) %}
                                    <p><strong>{{ pokemonStat['stat']['name']|upper }} :</strong> {{ pokemonStat['base_stat'] }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="btn-back d-flex justify-content-center">
                        <a class="btn btn-primary" href="/">Retour</a>
                    </div>
                </section>
            </div>
        </div>
    </article>
{% endblock %}