{% extends 'base.html.twig' %}

{% block title %}Pokédex{% endblock %}

{% block header %}
    <header class="py-1 bg-image-full d-flex" {# # style="background-image: url('{{ asset('img/home.jpeg') }}');"#}>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7" style="margin-top: 7em">
                    <div class="text-center my-5">
                        <div class="p-2"><h1 class="fw-bolder">Pokédex - Génération {{ generation }}</h1></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
{#  AJOUTER BOUTON POUR TRIER LES POKEMON  #}
<section id="tricks" class="py-5">
    <div class="my-5 container">
        <div class="row row-cols-1 justify-content-center text-center align-items-center ">
{#            <button type="button" class="btn-primary" onclick="" data-bs-dismiss="modal"></button>#}
            <div class="col-4">
                <a class="col-4 btn btn-primary btn-sort" href="/" role="button">Numéro National</a>
            </div>
            <div class="col-4">
                <a class="col-4 btn btn-primary btn-sort" href="/?tri=name" role="button">Nom</a>
            </div>
            <div class="col-4">
                <a class="col-4 btn btn-primary btn-sort" href="/?tri=types" role="button">Types</a>
            </div>
        </div>
    </div>
    <div class="my-5 container-fluid">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 justify-content-center text-center align-items-center ">
            {% for pokemon in pokemonsSorted %}
                <div class="pokemon-home col d-flex justify-content-center">
                    <div class="card" style="width: 100%">
                        <img class="card-img-top" src="{{ pokemon['sprites']['front_default'] }}" alt="Card image cap"/>
                        <div class="card-body row">
                            <a class="col-6" href="/pokemon/{{ pokemon['id'] }}">{{ pokemon['name']|capitalize }}</a>
                            <p class="col-6">n°{{ pokemon['id'] }}</p>
                            {% if pokemon['types'][1] is defined %}
                                <p class="col-6 {{ pokemon['types'][0]['type']['name'] }}">{{ pokemon['types'][0]['type']['name'] }}</p>
                                <p class="col-6 {{ pokemon['types'][1]['type']['name'] }}">{{ pokemon['types'][1]['type']['name'] }}</p>
                            {% else %}
                                <p class="col-12 {{ pokemon['types'][0]['type']['name'] }}">{{ pokemon['types'][0]['type']['name'] }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
